@import '../../styles/_variables';
@import '../../styles/_mixins';

.error-modal {
  @include modal()
}

.modal-content {
  @include modal-content();
  justify-content: center;
  align-items: center;
}

.error-message {
  margin-bottom: 20px;
  text-align: center;
}
