@import '../../styles/_variables';
@import '../../styles/_mixins';

.star-container {
  display: flex;
}

.star {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: white;
}

.user-rating-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 15%;
}
