@import '../../styles/_variables';
@import '../../styles/_mixins';

.star-container {
  @include flex-row();
}

.star {
  font-size: 15px;
  background-color: transparent;
  border: none;
  color: white;
}

.user-rating-container {
  @include flex-row();
  justify-content: flex-end;
  width: 100%;
  margin-right: 15%;

  p {
    font-weight: bold;
    margin-right: 5px;
  }
}
