@import '../../styles/_variables';
@import '../../styles/_mixins';

.star-container {
  @include flex-row();
}

.star {
  font-size: 15px;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
  margin: 2px;
}

.star:hover {
  cursor: pointer;
}

.user-rating-container {
  @include flex-row();
  justify-content: flex-end;
  width: 100%;

  p {
    font-weight: bold;
    margin-right: 10px;
  }
}
