@import './_reset';
@import './_variables';
@import './_mixins';
@import '../components/AllMovies/AllMovies';
@import '../components/ErrorModal/ErrorModal';
@import '../components/MovieCard/MovieCard';
@import '../components/Navbar/Navbar';
@import '../components/SingleMovie/SingleMovie';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $navy;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
