@import './_reset';
@import './_variables';
@import './_mixins';
@import '../components/AllMovies/AllMovies';
@import '../components/ErrorModal/ErrorModal';
@import '../components/MovieCard/MovieCard';
@import '../components/Navbar/Navbar';
@import '../components/SingleMovie/SingleMovie';

body {
  height: 100%;
  width: 100%;
  background-color: $navy;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
