@import '../../styles/_variables';
@import '../../styles/_mixins';

.card-container {
  // box-sizing: border-box;
  border: none;
  height: auto;
  width: 100%;
  place-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 15px;
  @include box-shadow();
}

button {
  width: 100%;
  background-color: transparent;
}

.card-image {
  height: 100%;
  width: 100%;
  // border-radius: 15px;
}

.card-text {
  height: 60px;
  font-size: 20px;
  color: $white;
  padding: 10px;
}
