@import '../../styles/_variables';
@import '../../styles/_mixins';

.card {
  box-sizing: border-box;
  border: 3px solid black;
  padding: 10px;
  height: auto;
  width: 85%;
  place-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $green;
}

.card-image {
  height: auto;
  width: 90%;
}
