@import '../../styles/_variables';
@import '../../styles/_mixins';

.back-button {
  @include button();
}

.back-button:hover {
  @include button-hover;
}

.single-movie-container {
  margin-left: 10%;
  color: $white;

  p {
    line-height: 140%;
    font-size: 18px;
  }
}
.sm-logo {
  width: 20px;
  margin-left: 20%;
  margin-right: 6%;
}

.single-movie-header {
  display: flex;
  justify-content: space-between;
  padding: 1% 16% 1% 0;
}

.header-details {
  display: flex;
  justify-content: space-around;
  width: 20%;
  flex-direction: column;
}

.bold-text {
  font-weight: bold;
}

.movie-title {
  font-size: 50px;
  margin-bottom: 2.5%;
}

.rating-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.runtime-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.side-img {
  width: 22.5%;
  height: auto;
  margin-right: .25%;
  @include box-shadow();
}

.backdrop-img {
  width: 62%;
  @include box-shadow();
}

.details-row {
  display: flex;
  justify-content: space-between;
  margin-right: 15%;
  margin-top: 1%;
  padding-top: 1%;
  border-top: 1px solid rgba(0, 159, 152, .5);
}

.movie-details {
  width: 30%;
}

.movie-overview {
  width: 70%;
}

.star-container {
  display: flex;
}

.star {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: white;
}

.user-rating-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 15%;
}
