@import '../../styles/_variables';
@import '../../styles/_mixins';

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  width: 100%;
  display:flex;
  justify-content: flex-start;
}

.back-button {
  @include button();
  margin-left: 20px;
}

.back-button:hover {
  @include button-hover;
}

.single-movie-container {
  width: 70%;
  color: $white;
  padding-bottom: 30px;

  p {
    line-height: 140%;
    font-size: 18px;
    margin-top: 0;
  }
}

.sm-logo {
  width: 20px;
  margin: 0 5px 5px 0;
  line-height: 141%;

}

.single-movie-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-details {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.bold-text {
  font-weight: bold;
}

.movie-title {
  font-size: 50px;
}

.rating-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.runtime-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.side-img {
  width: 25%;
  height: auto;
  margin-right: .25%;
  @include box-shadow();
}

.backdrop-img {
  width: 75%;
  @include box-shadow();
}

.details-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 159, 152, .5);
}

.movie-details {
  width: 25.5%;
  padding-right: 20px;
  border-right: 1px solid rgba(0, 159, 152, .5);
}

.rating-title,
.runtime-title {
  margin-right: 10px;
}

.movie-overview {
  width: 74.5%;
  padding-left: 20px;
}
