@import '../../styles/_variables';
@import '../../styles/_mixins';

.single-movie-container {
  margin-left: 10%;
  color: $white;
}

.single-movie-header {
  display: flex;
  justify-content: space-between;
  padding: 1% 16% 1% 0;
}

.header-details {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.bold-text {
  font-weight: bold;
}

.movie-title {
  font-family: 'Roboto';
  font-size: 50px;
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.runtime-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.side-img {
  width: 22.5%;
  height: auto;
  margin-right: .25%;
}

.backdrop-img {
  width: 62%;
}

.details-row {
  display: flex;
  justify-content: space-between;
  margin-right: 15%;
  margin-top: 1%;
  padding-top: 1%;
  border-top: solid rgba(0, 159, 152, .5);
}

.movie-details {
  min-width: 28%
}
