@import '../../styles/_variables';
@import '../../styles/_mixins';

nav {
  @include flex-row();
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $teal;
  margin: 0 20px 20px 20px;
}

h1 {
  font-weight: 700;
  color: $white;
  font-size: 60px;
  margin-left: 20px;
}

.logo-container,
.logout {
  @include flex-row();
  align-items: center;
}

.logo {
  height: 80px;
  padding-bottom: 15px;
  margin: 15px;
}

.login-button,
.logout-button {
  @include button();
}

.login-button:hover,
.logout-button:hover {
  @include button-hover();
}

.user-greeting {
  color: $white;
  font-size: 22px;
  margin: 10px;
}
