@import '../../styles/_variables';
@import '../../styles/_mixins';

.login-modal {
  @include modal();
}

.login-content {
  @include modal-content();
}

.sign-in-container {
  @include flex-row();
  width: 100%;
  justify-content: center;
}

.input-container {
  @include flex-column();
  justify-content: space-between;
  align-items: flex-start;
  height: 25%;
  padding-left: 10%;
  color: $teal;
  font-weight: bold;
}

.password-container {
  @include flex-row();
}

.email-container {
  @include flex-row();
  margin-left: 32px;
}

input {
  border-color: $grey;
  border-style: solid;
  margin-left: 10px;
  border-radius: 3px;
}

.sign-in-button {
  @include button();
  width: 50%;
  box-shadow: 0 0 6px 3px $black;
}

.sign-in-button:hover {
  @include button-hover();
}

.close-container {
  @include flex-row();
  width: 100%;
  justify-content: flex-end;
}

.close-button {
  @include flex-row();
  justify-content: center;
  width: 5%;
  border-color: $grey;
  background-color: transparent;
  color: $grey;
  border-style: solid;
  font-weight: bold;
  border-radius: 3px;
}

.close-button:hover {
  border-color: #C8C6C6;
  color: #C8C6C6;
  cursor: pointer;
  opacity: 0.8;
}

.error-message {
  color: $red;
  text-align: center;
}
