@import '../../styles/_variables';
@import '../../styles/_mixins';

.login-modal {
  @include modal();
}

.login-content {
  @include modal-content();
}

.flex-row {
  display: flex;
}

.sign-in-button {
  @include button();
}

.sign-in-button:hover {
  @include button-hover();
}

.close-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-button {
  width: 5%;
  display: flex;
  justify-content: center;
  border: none;
}

.close-button:hover {
  @include box-shadow();
}

.input-container {
  width: 70%;
  height: 32%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  align-items: flex-end;
}
